{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} About this app {% endblock %}</h2>
    <p>This app shows outcomes (confirmed cases, hospitalizations, and deaths) for cohorts defined by each date of specimen collection (specimen_date) at NYC.</p><p>

    </p><b>Data Provided by:</b> Department of Health and Mental Hygiene (DOHMH) via NYC OpenData API. Learn more <a target="blank" href="https://data.cityofnewyork.us/Health/COVID-19-Daily-Counts-of-Cases-Hospitalizations-an/rc75-m7u3">here</a>.</p>
</p><b>App developed by:</b> Audrey Wong</p>
{% endblock %}
